@import "tailwindcss";
@plugin "daisyui";

@layer base {
  @font-face {
    font-family: iransans;
    font-style: normal;
    src: url("@/fonts/iransans/eot/IRANSansFaNum_Medium.eot");
    src:
      url("@/fonts/iransans/eot/IRANSansFaNum_Medium.eot?#iefix")
        format("embedded-opentype"),
      url("@/fonts/iransans/woff2/IRANSansWebFaNum_Medium.woff2")
        format("woff2"),
      url("@/fonts/iransans/woff/IRANSansWebFaNum_Medium.woff") format("woff"),
      url("@/fonts/iransans/ttf/IRANSansWebFaNum_Medium.ttf") format("truetype");
  }

  @font-face {
    font-family: BYekan;
    src:
      url("@/fonts/BYekan/BYekan+.ttf"), url("@/fonts/BYekan/BYekan+ Bold.ttf");
  }

  @font-face {
    font-family: WebYekan;
    src:
      url("@/fonts/WebYekan/WebYekan.eot"),
      url("@/fonts/WebYekan/WebYekan.ttf"), url("@/fonts/WebYekan/WebYekan.eot");
  }

  @font-face {
    font-family: Yekan;
    src:
      url("@/fonts/Yekan/Yekan.eot"), url("@/fonts/Yekan/Yekan.ttf"),
      url("@/fonts/Yekan/Yekan.woff"), url("@/fonts/Yekan/Yekan.woff2"),
      url("@/fonts/Yekan/Yekan.eot");
  }

  body {
    font-family: iransans;
    direction: rtl;
    @apply min-h-screen flex flex-col;
  }
}

/* MENU */
.menu {
  @apply w-full;
}

/* remove flex from li (important fix) */
.menu li {
  @apply w-full border-b py-3 border-b-white;
  transition: all 0.3s;
}

.menu li:last-child {
  @apply border-0;
}

.menu li li {
  @apply border-0 py-1;
}

.menu summary {
  list-style: none;
  @apply flex items-center w-full relative pr-6 cursor-pointer;
}

.menu summary::-webkit-details-marker {
  display: none;
}

.menu :where(li > details > summary)::after,
.menu :where(li > .menu-dropdown-toggle)::after {
  content: "";
  @apply absolute block w-1.5 h-1.5;
  @apply left-4 top-1/2 -translate-y-1/2;
  @apply rotate-[-135deg];
  @apply transition-transform duration-200;

  box-shadow: 2px 2px inset;
  transform-origin: center;
}

.dropdown-content li a:hover {
  background: #f5f5f5;
  color: #c00;
}

.chevron {
  @apply order-first mr-2;
}

@utility animate-fade-up {
  animation: fade-up 0.8s ease-out forwards;
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
